# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# But add libs directory
!build/libs/*

# Ignore Eclipse config
.classpath
.project
/build/
